@mixin variable-font-face($font-name, $font-file-name, $font-style: normal) {
  @font-face {
    font-family: $font-name;
    src: url('../fonts/variable/#{$font-file-name}.ttf') format('truetype');
    font-weight: 1 999;
    font-stretch: 25% 151%;
    font-style: $font-style;
  }
}

@include variable-font-face('Figtree', 'Figtree-VariableFont_wght');